.home {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-color: #F5F5F5;

    padding: 0 30px;
}

.home__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;

    padding: 15px 0;
}

.home__name-logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;

    margin-bottom: -30px;
}

.home__name {
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}

.home__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.home__email {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #000000;

    margin-bottom: 15px;
}

.home__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #000000;

    margin-bottom: 20px;
}