:root {
    --initial-input-color: #D9D9D9;
    --initial-input-info-color: #000000;
}

.initial-page__input-info {
    display: flex;
    align-items: center;
    gap: 22px;

    width: fit-content;
}

.initial-page__input {
    all: unset;

    width: 344px;

    font-size: 20px;
    color: #303030;

    background-color: var(--initial-input-color);

    padding: 10px;
}

.initial-page__info {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: var(--initial-input-info-color);

    opacity: 0.8;
}