@import url(https://fonts.googleapis.com/css?family=Iceland:regular);

:root {
    --toastify-color-error: rgb(27, 27, 27);
    --toastify-font-family: 'Iceland';
    --toastify-text-color-light: #303030;
}

* {
    box-sizing: border-box;

    font-family: 'Iceland';

    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
}

.initial-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;

    width: fit-content;
    min-height: 100vh;

    padding: 60px;
}

.initial-page__links {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    gap: 7px;

    width: fit-content;

    margin-top: 100px;
}