.initial-page__title {
    cursor: default;

    width: fit-content;

    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    color: #000000;
}

@media only screen and (max-width: 630px) {
    .initial-page__title {
        font-size: 41px;
    }
}

@media only screen and (max-width: 350px) {
    .initial-page__title {
        font-size: 35px;
    }
}